In [3]:
import pandas as pd
!pip install pulp
from pulp import *

Collecting pulp
  Downloading pulp-3.3.0-py3-none-any.whl.metadata (8.4 kB)
Downloading pulp-3.3.0-py3-none-any.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   ---------------------------------------- 0.1/16.4 MB 2.6 MB/s eta 0:00:07
   ---------------------------------------- 0.2/16.4 MB 2.1 MB/s eta 0:00:08
    --------------------------------------- 0.4/16.4 MB 2.8 MB/s eta 0:00:06
    --------------------------------------- 0.4/16.4 MB 3.2 MB/s eta 0:00:06
   - -------------------------------------- 0.7/16.4 MB 3.1 MB/s eta 0:00:06
   - -------------------------------------- 0.8/16.4 MB 3.4 MB/s eta 0:00:05
   - -------------------------------------- 0.8/16.4 MB 3.1 MB/s eta 0:00:06
   -- ------------------------------------- 0.9/16.4 MB 2.8 MB/s eta 0:00:06
   -- ------------------------------------- 1.0/16.4 MB 2.9 MB/s eta 0:00:06
   -- ------------------------------------- 1.2/16.4 MB 2.9 MB/s eta 0:00:06
   -- ------------------------------------- 1.2/16.4 MB 2.9 MB/s eta 0:00:06
   --- ------------------------------------ 1.3/16.4 MB 2.6 MB/s eta 0:00:06
   --- ------------------------------------ 1.4/16.4 MB 2.5 MB/s eta 0:00:06
   --- ------------------------------------ 1.5/16.4 MB 2.5 MB/s eta 0:00:06
   ---- ----------------------------------- 1.7/16.4 MB 2.5 MB/s eta 0:00:06
   ---- ----------------------------------- 2.0/16.4 MB 2.8 MB/s eta 0:00:06
   ----- ---------------------------------- 2.1/16.4 MB 2.8 MB/s eta 0:00:06
   ----- ---------------------------------- 2.2/16.4 MB 2.6 MB/s eta 0:00:06
   ----- ---------------------------------- 2.2/16.4 MB 2.7 MB/s eta 0:00:06
   ----- ---------------------------------- 2.4/16.4 MB 2.6 MB/s eta 0:00:06
   ------ --------------------------------- 2.6/16.4 MB 2.7 MB/s eta 0:00:06
   ------ --------------------------------- 2.7/16.4 MB 2.7 MB/s eta 0:00:06
   ------- -------------------------------- 2.9/16.4 MB 2.8 MB/s eta 0:00:05
   ------- -------------------------------- 3.0/16.4 MB 2.8 MB/s eta 0:00:05
   ------- -------------------------------- 3.0/16.4 MB 2.8 MB/s eta 0:00:05
   ------- -------------------------------- 3.1/16.4 MB 2.7 MB/s eta 0:00:05
   ------- -------------------------------- 3.1/16.4 MB 2.6 MB/s eta 0:00:06
   ------- -------------------------------- 3.3/16.4 MB 2.6 MB/s eta 0:00:06
   -------- ------------------------------- 3.3/16.4 MB 2.5 MB/s eta 0:00:06
   -------- ------------------------------- 3.4/16.4 MB 2.5 MB/s eta 0:00:06
   -------- ------------------------------- 3.4/16.4 MB 2.5 MB/s eta 0:00:06
   -------- ------------------------------- 3.5/16.4 MB 2.5 MB/s eta 0:00:06
   -------- ------------------------------- 3.6/16.4 MB 2.4 MB/s eta 0:00:06
   -------- ------------------------------- 3.6/16.4 MB 2.4 MB/s eta 0:00:06
   -------- ------------------------------- 3.6/16.4 MB 2.4 MB/s eta 0:00:06
   --------- ------------------------------ 3.7/16.4 MB 2.3 MB/s eta 0:00:06
   --------- ------------------------------ 3.8/16.4 MB 2.3 MB/s eta 0:00:06
   --------- ------------------------------ 3.8/16.4 MB 2.3 MB/s eta 0:00:06
   --------- ------------------------------ 4.0/16.4 MB 2.3 MB/s eta 0:00:06
   ---------- ----------------------------- 4.1/16.4 MB 2.3 MB/s eta 0:00:06
   ---------- ----------------------------- 4.1/16.4 MB 2.3 MB/s eta 0:00:06
   ---------- ----------------------------- 4.2/16.4 MB 2.2 MB/s eta 0:00:06
   ---------- ----------------------------- 4.2/16.4 MB 2.2 MB/s eta 0:00:06
   ---------- ----------------------------- 4.3/16.4 MB 2.2 MB/s eta 0:00:06
   ---------- ----------------------------- 4.4/16.4 MB 2.2 MB/s eta 0:00:06
   ---------- ----------------------------- 4.4/16.4 MB 2.2 MB/s eta 0:00:06
   ---------- ----------------------------- 4.5/16.4 MB 2.1 MB/s eta 0:00:06
   ----------- ---------------------------- 4.5/16.4 MB 2.1 MB/s eta 0:00:06
   ----------- ---------------------------- 4.5/16.4 MB 2.0 MB/s eta 0:00:06
   ----------- ---------------------------- 4.7/16.4 MB 2.1 MB/s eta 0:00:06
   ----------- ---------------------------- 4.7/16.4 MB 2.1 MB/s eta 0:00:06
   ----------- ---------------------------- 4.7/16.4 MB 2.0 MB/s eta 0:00:06
   ----------- ---------------------------- 4.7/16.4 MB 2.0 MB/s eta 0:00:06
   ----------- ---------------------------- 4.8/16.4 MB 2.0 MB/s eta 0:00:06
   ----------- ---------------------------- 4.8/16.4 MB 2.0 MB/s eta 0:00:06
   ----------- ---------------------------- 4.9/16.4 MB 1.9 MB/s eta 0:00:06
   ------------ --------------------------- 5.0/16.4 MB 2.0 MB/s eta 0:00:06
   ------------ --------------------------- 5.2/16.4 MB 2.0 MB/s eta 0:00:06
   ------------ --------------------------- 5.3/16.4 MB 2.0 MB/s eta 0:00:06
   ------------ --------------------------- 5.3/16.4 MB 2.0 MB/s eta 0:00:06
   ------------- -------------------------- 5.4/16.4 MB 2.0 MB/s eta 0:00:06
   ------------- -------------------------- 5.4/16.4 MB 2.0 MB/s eta 0:00:06
   ------------- -------------------------- 5.6/16.4 MB 2.0 MB/s eta 0:00:06
   ------------- -------------------------- 5.6/16.4 MB 2.0 MB/s eta 0:00:06
   ------------- -------------------------- 5.6/16.4 MB 2.0 MB/s eta 0:00:06
   ------------- -------------------------- 5.7/16.4 MB 1.9 MB/s eta 0:00:06
   ------------- -------------------------- 5.7/16.4 MB 1.9 MB/s eta 0:00:06
   -------------- ------------------------- 5.8/16.4 MB 1.9 MB/s eta 0:00:06
   -------------- ------------------------- 5.8/16.4 MB 1.9 MB/s eta 0:00:06
   -------------- ------------------------- 6.0/16.4 MB 1.9 MB/s eta 0:00:06
   -------------- ------------------------- 6.0/16.4 MB 1.9 MB/s eta 0:00:06
   -------------- ------------------------- 6.1/16.4 MB 1.9 MB/s eta 0:00:06
   -------------- ------------------------- 6.1/16.4 MB 1.9 MB/s eta 0:00:06
   --------------- ------------------------ 6.2/16.4 MB 1.9 MB/s eta 0:00:06
   --------------- ------------------------ 6.2/16.4 MB 1.9 MB/s eta 0:00:06
   --------------- ------------------------ 6.3/16.4 MB 1.9 MB/s eta 0:00:06
   --------------- ------------------------ 6.3/16.4 MB 1.9 MB/s eta 0:00:06
   --------------- ------------------------ 6.4/16.4 MB 1.8 MB/s eta 0:00:06
   --------------- ------------------------ 6.6/16.4 MB 1.8 MB/s eta 0:00:06
   --------------- ------------------------ 6.6/16.4 MB 1.8 MB/s eta 0:00:06
   ---------------- ----------------------- 6.7/16.4 MB 1.8 MB/s eta 0:00:06
   ---------------- ----------------------- 6.8/16.4 MB 1.8 MB/s eta 0:00:06
   ---------------- ----------------------- 6.8/16.4 MB 1.8 MB/s eta 0:00:06
   ---------------- ----------------------- 6.8/16.4 MB 1.8 MB/s eta 0:00:06
   ---------------- ----------------------- 6.9/16.4 MB 1.8 MB/s eta 0:00:06
   ----------------- ---------------------- 7.0/16.4 MB 1.8 MB/s eta 0:00:06
   ----------------- ---------------------- 7.0/16.4 MB 1.8 MB/s eta 0:00:06
   ----------------- ---------------------- 7.1/16.4 MB 1.8 MB/s eta 0:00:06
   ----------------- ---------------------- 7.1/16.4 MB 1.8 MB/s eta 0:00:06
   ----------------- ---------------------- 7.1/16.4 MB 1.8 MB/s eta 0:00:06
   ----------------- ---------------------- 7.1/16.4 MB 1.8 MB/s eta 0:00:06
   ----------------- ---------------------- 7.3/16.4 MB 1.8 MB/s eta 0:00:06
   ----------------- ---------------------- 7.3/16.4 MB 1.7 MB/s eta 0:00:06
   ----------------- ---------------------- 7.4/16.4 MB 1.8 MB/s eta 0:00:06
   ----------------- ---------------------- 7.4/16.4 MB 1.8 MB/s eta 0:00:06
   ------------------ --------------------- 7.4/16.4 MB 1.7 MB/s eta 0:00:06
   ------------------ --------------------- 7.5/16.4 MB 1.7 MB/s eta 0:00:06
   ------------------ --------------------- 7.5/16.4 MB 1.7 MB/s eta 0:00:06
   ------------------ --------------------- 7.7/16.4 MB 1.7 MB/s eta 0:00:06
   ------------------ --------------------- 7.8/16.4 MB 1.7 MB/s eta 0:00:05
   ------------------ --------------------- 7.8/16.4 MB 1.7 MB/s eta 0:00:05
   ------------------- -------------------- 7.9/16.4 MB 1.7 MB/s eta 0:00:05
   ------------------- -------------------- 7.9/16.4 MB 1.7 MB/s eta 0:00:05
   ------------------- -------------------- 8.0/16.4 MB 1.7 MB/s eta 0:00:05
   ------------------- -------------------- 8.0/16.4 MB 1.7 MB/s eta 0:00:05
   ------------------- -------------------- 8.1/16.4 MB 1.7 MB/s eta 0:00:05
   ------------------- -------------------- 8.1/16.4 MB 1.7 MB/s eta 0:00:05
   -------------------- ------------------- 8.3/16.4 MB 1.7 MB/s eta 0:00:05
   -------------------- ------------------- 8.3/16.4 MB 1.7 MB/s eta 0:00:05
   -------------------- ------------------- 8.4/16.4 MB 1.7 MB/s eta 0:00:05
   -------------------- ------------------- 8.6/16.4 MB 1.7 MB/s eta 0:00:05
   -------------------- ------------------- 8.6/16.4 MB 1.7 MB/s eta 0:00:05
   --------------------- ------------------ 8.6/16.4 MB 1.7 MB/s eta 0:00:05
   --------------------- ------------------ 8.6/16.4 MB 1.7 MB/s eta 0:00:05
   --------------------- ------------------ 8.8/16.4 MB 1.7 MB/s eta 0:00:05
   --------------------- ------------------ 8.8/16.4 MB 1.7 MB/s eta 0:00:05
   --------------------- ------------------ 9.0/16.4 MB 1.7 MB/s eta 0:00:05
   ---------------------- ----------------- 9.2/16.4 MB 1.7 MB/s eta 0:00:05
   ---------------------- ----------------- 9.3/16.4 MB 1.7 MB/s eta 0:00:05
   ----------------------- ---------------- 9.6/16.4 MB 1.8 MB/s eta 0:00:04
   ----------------------- ---------------- 9.7/16.4 MB 1.8 MB/s eta 0:00:04
   ------------------------ --------------- 9.8/16.4 MB 1.8 MB/s eta 0:00:04
   ------------------------ --------------- 9.9/16.4 MB 1.8 MB/s eta 0:00:04
   ------------------------ --------------- 9.9/16.4 MB 1.8 MB/s eta 0:00:04
   ------------------------ --------------- 10.0/16.4 MB 1.8 MB/s eta 0:00:04
   ------------------------ --------------- 10.0/16.4 MB 1.8 MB/s eta 0:00:04
   ------------------------ --------------- 10.1/16.4 MB 1.8 MB/s eta 0:00:04
   ------------------------ --------------- 10.1/16.4 MB 1.8 MB/s eta 0:00:04
   ------------------------ --------------- 10.1/16.4 MB 1.8 MB/s eta 0:00:04
   ------------------------- -------------- 10.3/16.4 MB 1.7 MB/s eta 0:00:04
   ------------------------- -------------- 10.3/16.4 MB 1.7 MB/s eta 0:00:04
   ------------------------- -------------- 10.4/16.4 MB 1.7 MB/s eta 0:00:04
   ------------------------- -------------- 10.6/16.4 MB 1.7 MB/s eta 0:00:04
   -------------------------- ------------- 10.7/16.4 MB 1.7 MB/s eta 0:00:04
   -------------------------- ------------- 10.9/16.4 MB 1.7 MB/s eta 0:00:04
   --------------------------- ------------ 11.2/16.4 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 11.2/16.4 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 11.3/16.4 MB 1.7 MB/s eta 0:00:03
   --------------------------- ------------ 11.3/16.4 MB 1.7 MB/s eta 0:00:03
   --------------------------- ------------ 11.4/16.4 MB 1.7 MB/s eta 0:00:03
   ---------------------------- ----------- 11.6/16.4 MB 1.8 MB/s eta 0:00:03
   ---------------------------- ----------- 11.7/16.4 MB 1.8 MB/s eta 0:00:03
   ---------------------------- ----------- 11.7/16.4 MB 1.8 MB/s eta 0:00:03
   ---------------------------- ----------- 11.8/16.4 MB 1.8 MB/s eta 0:00:03
   ---------------------------- ----------- 11.8/16.4 MB 1.7 MB/s eta 0:00:03
   ----------------------------- ---------- 11.9/16.4 MB 1.7 MB/s eta 0:00:03
   ----------------------------- ---------- 11.9/16.4 MB 1.7 MB/s eta 0:00:03
   ----------------------------- ---------- 12.1/16.4 MB 1.7 MB/s eta 0:00:03
   ----------------------------- ---------- 12.1/16.4 MB 1.7 MB/s eta 0:00:03
   ----------------------------- ---------- 12.2/16.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------ --------- 12.3/16.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------ --------- 12.4/16.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------ --------- 12.4/16.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------ --------- 12.5/16.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------ --------- 12.6/16.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------ --------- 12.6/16.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------- -------- 12.7/16.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------- -------- 12.7/16.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------- -------- 12.9/16.4 MB 1.6 MB/s eta 0:00:03
   ------------------------------- -------- 13.1/16.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------- -------- 13.1/16.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------- -------- 13.1/16.4 MB 1.6 MB/s eta 0:00:03
   -------------------------------- ------- 13.1/16.4 MB 1.6 MB/s eta 0:00:02
   -------------------------------- ------- 13.3/16.4 MB 1.6 MB/s eta 0:00:02
   -------------------------------- ------- 13.3/16.4 MB 1.6 MB/s eta 0:00:02
   -------------------------------- ------- 13.3/16.4 MB 1.6 MB/s eta 0:00:02
   -------------------------------- ------- 13.3/16.4 MB 1.6 MB/s eta 0:00:02
   -------------------------------- ------- 13.4/16.4 MB 1.6 MB/s eta 0:00:02
   -------------------------------- ------- 13.4/16.4 MB 1.6 MB/s eta 0:00:02
   -------------------------------- ------- 13.5/16.4 MB 1.6 MB/s eta 0:00:02
   -------------------------------- ------- 13.5/16.4 MB 1.6 MB/s eta 0:00:02
   -------------------------------- ------- 13.5/16.4 MB 1.6 MB/s eta 0:00:02
   -------------------------------- ------- 13.5/16.4 MB 1.6 MB/s eta 0:00:02
   --------------------------------- ------ 13.6/16.4 MB 1.6 MB/s eta 0:00:02
   --------------------------------- ------ 13.7/16.4 MB 1.6 MB/s eta 0:00:02
   --------------------------------- ------ 13.8/16.4 MB 1.6 MB/s eta 0:00:02
   ---------------------------------- ----- 14.0/16.4 MB 1.6 MB/s eta 0:00:02
   ---------------------------------- ----- 14.2/16.4 MB 1.6 MB/s eta 0:00:02
   ---------------------------------- ----- 14.2/16.4 MB 1.6 MB/s eta 0:00:02
   ----------------------------------- ---- 14.3/16.4 MB 1.6 MB/s eta 0:00:02
   ----------------------------------- ---- 14.4/16.4 MB 1.6 MB/s eta 0:00:02
   ----------------------------------- ---- 14.5/16.4 MB 1.6 MB/s eta 0:00:02
   ----------------------------------- ---- 14.7/16.4 MB 1.7 MB/s eta 0:00:02
   ------------------------------------ --- 14.8/16.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 15.1/16.4 MB 1.8 MB/s eta 0:00:01
   ------------------------------------- -- 15.2/16.4 MB 1.8 MB/s eta 0:00:01
   ------------------------------------- -- 15.2/16.4 MB 1.8 MB/s eta 0:00:01
   ------------------------------------- -- 15.3/16.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 15.3/16.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.4 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 15.6/16.4 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 15.6/16.4 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.4 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.4 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.4 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 15.8/16.4 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 15.8/16.4 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 15.9/16.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  16.2/16.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  16.2/16.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.4 MB 1.6 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 1.6 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 1.6 MB/s eta 0:00:01
   ---------------------------------------  16.4/16.4 MB 1.6 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 1.6 MB/s eta 0:00:00
Installing collected packages: pulp
Successfully installed pulp-3.3.0

## Plant Location

#### Manufacturing variable costs

In [21]:
# Import Costs
manvar_costs = pd.read_excel(r"C:\Users\hp\Downloads\Supply-Chain-Optimization-main\variable_costs.xlsx", index_col = 0)
manvar_costs

                         USA  Germany  Japan  Brazil  India
Variable Costs ($/Unit)
USA                       12       12     12      12     12
Germany                   13       13     13      13     13
Japan                     10       10     10      10     10
Brazil                     8        8      8       8      8
India                      5        5      5       5      5

#### Freight costs

In [24]:
# Import Costs
freight_costs = pd.read_excel('freight_costs.xlsx', index_col = 0)
freight_costs

                               USA  Germany  Japan  Brazil  India
Freight Costs ($/Container)
USA                              0    12250   1100   16100   8778
Germany                      13335        0   8617   20244  10073
Japan                        15400    22750      0   43610  14350
Brazil                       16450    22050  28000       0  29750
India                        13650    15400  24500   29400      0

#### Variable Costs

In [27]:
# Variable Costs
var_cost = freight_costs/1000 + manvar_costs 

var_cost

                                USA  Germany   Japan  Brazil   India
Freight Costs ($/Container)
USA                          12.000    24.25  13.100  28.100  20.778
Germany                      26.335    13.00  21.617  33.244  23.073
Japan                        25.400    32.75  10.000  53.610  24.350
Brazil                       24.450    30.05  36.000   8.000  37.750
India                        18.650    20.40  29.500  34.400   5.000

#### Fixed Costs

In [30]:
# Import Costs
fixed_costs = pd.read_excel('fixed_cost.xlsx', index_col = 0)
fixed_costs

          Low  High
USA      6500  9500
Germany  4980  7270
Japan    6230  9100
Brazil   3230  4730
India    2110  6160

#### Plants Capacity

In [33]:
# Two types of plants: Low Capacity and High Capacity Plant
cap = pd.read_excel('capacity.xlsx', index_col = 0)
cap

                         Low  High
Capacity (kUnits/month)
USA                      500  1500
Germany                  500  1500
Japan                    500  1500
Brazil                   500  1500
India                    500  3000

#### Demand

In [101]:
# -- Demand
demand = pd.read_excel('demand.xlsx',header=1) 
demand = demand.iloc[:, 1:3]
demand.columns = ['Location', 'Demand']
demand = demand.set_index('Location')
demand

           Demand
Location
USA       2800000
Germany     90000
Japan     1700000
Brazil     145000
India      160000

In [103]:
# Define Decision Variables
loc = ['USA', 'Germany', 'Japan', 'Brazil', 'India']
size = ['Low', 'High']

# Initialize Class
model = LpProblem("Capacitated Plant Location Model", LpMinimize)


# Create Decision Variables
x = LpVariable.dicts("production_", [(i,j) for i in loc for j in loc],
                     lowBound=0, upBound=None, cat='continuous')
y = LpVariable.dicts("plant_", 
                     [(i,s) for s in size for i in loc], cat='Binary')

# Define Objective Function
model += (lpSum([fixed_costs.loc[i,s] * y[(i,s)] * 1000 for s in size for i in loc])
          + lpSum([var_cost.loc[i,j] * x[(i,j)]   for i in loc for j in loc]))

# Add Constraints
for j in loc:
    model += lpSum([x[(i, j)] for i in loc]) == demand.loc[j,'Demand']
for i in loc:
    model += lpSum([x[(i, j)] for j in loc]) <= lpSum([cap.loc[i,s]*y[(i,s)] * 1000
                                                       for s in size])


# Define logical constraint: Add a logical constraint so that if the high capacity plant in USA is open, then a low capacity plant in Germany is also opened.
# model += y[('USA','High_Cap')] <= y[('Germany','Low_Cap')]                                                       
                                                       
# Solve Model
model.solve()
print("Total Costs = {:,} ($/Month)".format(int(value(model.objective))))
print('\n' + "Status: {}".format(LpStatus[model.status]))


# Dictionnary
dict_plant = {}
dict_prod = {}
for v in model.variables():
    if 'plant' in v.name:
        name = v.name.replace('plant__', '').replace('_', '')
        dict_plant[name] = int(v.varValue)
        p_name = name
    else:
        name = v.name.replace('production__', '').replace('_', '')
        dict_prod[name] = v.varValue
    print(name, "=", v.varValue)

C:\Users\hp\anaconda3\Lib\site-packages\pulp\pulp.py:1489: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

Total Costs = 92,981,000 ($/Month)

Status: Optimal
('Brazil','High') = 0.0
('Brazil','Low') = 1.0
('Germany','High') = 0.0
('Germany','Low') = 0.0
('India','High') = 1.0
('India','Low') = 0.0
('Japan','High') = 1.0
('Japan','Low') = 0.0
('USA','High') = 1.0
('USA','Low') = 0.0
('Brazil','Brazil') = 145000.0
('Brazil','Germany') = 0.0
('Brazil','India') = 0.0
('Brazil','Japan') = 0.0
('Brazil','USA') = 0.0
('Germany','Brazil') = 0.0
('Germany','Germany') = 0.0
('Germany','India') = 0.0
('Germany','Japan') = 0.0
('Germany','USA') = 0.0
('India','Brazil') = 0.0
('India','Germany') = 90000.0
('India','India') = 160000.0
('India','Japan') = 0.0
('India','USA') = 1500000.0
('Japan','Brazil') = 0.0
('Japan','Germany') = 0.0
('Japan','India') = 0.0
('Japan','Japan') = 1500000.0
('Japan','USA') = 0.0
('USA','Brazil') = 0.0
('USA','Germany') = 0.0
('USA','India') = 0.0
('USA','Japan') = 200000.0
('USA','USA') = 1300000.0

In [105]:
# Capacity Plant
list_low, list_high = [], []
for l in loc:
    for cap in ['Low', 'High']:
        x = "('{}','{}')".format(l, cap)
        if cap == 'Low':
            list_low.append(dict_plant[x])
        else:
            list_high.append(dict_plant[x])
df_capacity = pd.DataFrame({'Location': loc, 'Low': list_low, 'High': list_high}).set_index('Location')
    
df_capacity

          Low  High
Location
USA         0     1
Germany     0     0
Japan       0     1
Brazil      1     0
India       0     1